@{
    ViewBag.Title = "Home Test Page";
}

<style>
    #exTab3 .nav-pills > li > a {
        border-radius: 0 0 0 0;
    }

    #exTab3 .tab-content {
        color: black;
        background-color: white;
        /*padding : 5px 15px;*/
    }

    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 70%;
        margin: auto;
    }

    .MainContainer {
        width: 98%;
        position: relative;
        min-width: 600px;
        margin: auto;
        margin-top: 2px;
        /*float: right;*/
        border: 1px solid #294850;
        background-color: whitesmoke;
        clear: both;
        overflow: auto;
    }

    .MainContainerHolder {
        position: relative;
        float: none;
        width: 100%;
        border-top: 1px solid #294850;
    }
</style>
<div class="MainContainer">
    <div class="MainContainerHolder">
        <div class="MainContainerLeftSideBar" style="position:relative; float:left; width:24%; min-height:590px; background-color:ghostwhite; margin-top:1px; border-top-left-radius:2px ;padding:10px">
            <div class="row" style="position:relative;  margin:0px; margin-top:5px;">
                <div class="panel panel-info" style="border-color:#173740; ">
                    <div class="panel-heading" style="background-color:#173740; color:whitesmoke">
                        <div class="row" style="margin-left:5px;">
                            <div class="col-sm-5">Sr Number </div>
                            <div class="col-sm-2">QOS</div>
                            <div class="col-sm-4">   Status  </div>
                        </div>
                    </div>
                    <div class="panel-body" style="max-height: 580px; overflow-y: scroll; font-size:12px">
                        <div class="list-group">

                            <a class="list-group-item" href="~/home/About">
                                <div class="row" style="margin-top:5px;">
                                    <div class="col-sm-6" style="background-color:lavender;">117070515992182 </div>
                                    <div class="col-sm-2">MB</div>
                                    <div class="col-sm-4" style="background-color:lavender;">
                                        In Progress
                                    </div>
                                </div>
                            </a>
                            <a class="list-group-item" href="~/home/About">
                                <div class="row" style="margin-top:5px;">
                                    <div class="col-sm-6" style="background-color:lavender;">117070515992182 </div>
                                    <div class="col-sm-2">MB</div>
                                    <div class="col-sm-4" style="background-color:lavender;">
                                        Not Started
                                    </div>
                                </div>
                            </a>
                            <a class="list-group-item" href="~/home/About">
                                <div class="row" style="margin-top:5px;">
                                    <div class="col-sm-6" style="background-color:lavender;">117070515992182 </div>
                                    <div class="col-sm-2">MB</div>
                                    <div class="col-sm-4" style="background-color:lavender;">
                                        Not Started
                                    </div>
                                </div>
                            </a>
                            <a class="list-group-item" href="~/home/About">
                                <div class="row" style="margin-top:5px;">
                                    <div class="col-sm-6" style="background-color:lavender;">117070515992182 </div>
                                    <div class="col-sm-2">MB</div>
                                    <div class="col-sm-4" style="background-color:lavender;">
                                        Not Started
                                    </div>
                                </div>
                            </a>
                            <a class="list-group-item" href="~/home/About">
                                <div class="row" style="margin-top:5px;">
                                    <div class="col-sm-6" style="background-color:lavender;">117070515992182 </div>
                                    <div class="col-sm-2">MB</div>
                                    <div class="col-sm-4" style="background-color:lavender;">
                                        In Progress
                                    </div>
                                </div>
                            </a>
                            <a class="list-group-item" href="~/home/About">
                                <div class="row" style="margin-top:5px;">
                                    <div class="col-sm-6" style="background-color:lavender;">117070515992182 </div>
                                    <div class="col-sm-2">MB</div>
                                    <div class="col-sm-4" style="background-color:lavender;">
                                        Not Started
                                    </div>
                                </div>
                            </a>
                            <a class="list-group-item" href="~/home/About">
                                <div class="row" style="margin-top:5px;">
                                    <div class="col-sm-6" style="background-color:lavender;">117070515992182 </div>
                                    <div class="col-sm-2">BB</div>
                                    <div class="col-sm-4" style="background-color:lavender;">
                                        Not Started
                                    </div>
                                </div>
                            </a>
                            <a class="list-group-item" href="~/home/About">
                                <div class="row" style="margin-top:5px;">
                                    <div class="col-sm-6" style="background-color:lavender;">117070515992182 </div>
                                    <div class="col-sm-2">BB</div>
                                    <div class="col-sm-4" style="background-color:lavender;">
                                        Not Started
                                    </div>
                                </div>
                            </a>
                            <a class="list-group-item" href="~/home/About">
                                <div class="row" style="margin-top:5px;">
                                    <div class="col-sm-6" style="background-color:lavender;">117070515992182 </div>
                                    <div class="col-sm-2">MB</div>
                                    <div class="col-sm-4" style="background-color:lavender;">
                                        Not Started
                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9" style="float:left">
                    Showing 1 to 10 of 29 entries
                </div>
                <div class="col-md-3" style="float:right">
                    <button type="button" class="btn btn-default" style="float:right">Refresh</button>
                </div>
            </div>
        </div>
        <div class="MainContainerRightContainer" style="position:relative; float:right; width:75%;  border-left:10px solid #294850;  min-height:615px;">
            <div class="row" style="border-bottom:5px solid #294850; position:relative; min-height:35px; margin:0; padding:5px;">
                <div style="width:50%; height:30px; background-color:#173740; color:whitesmoke;  padding:2px; padding:5px">
                    <div style="width:20px; height:20px; background-color:yellow; float:left;position:relative; margin-right:5px;"> </div> Project Yoda
                </div>
            </div>
            <div class="row" style="position:relative ; margin:0; padding:10px;">
                <div class="col-md-12" style="border:1px solid black; background-color:whitesmoke; border-radius:5px; min-height:250px ; max-height:300px; overflow-y:auto">
                    <h4>CPE Details</h4>
                    <div class="row" style="margin-top:5px; border-top:1px solid silver; padding-top:2px;">
                        <div class="col-sm-2" style="background-color:lavender;">SR Number</div>
                        <div class="col-sm-2">117070515992182</div>
                        <div class="col-sm-2" style="background-color:lavender;">Review Month </div>
                        <div class="col-sm-2">July</div>
                        <div class="col-sm-2" style="background-color:lavender;">Survey Date</div>
                        <div class="col-sm-2">12-July-2017</div>

                    </div>
                    <div class="row" style="margin-top:5px;">
                        <div class="col-sm-2" style="background-color:lavender;">Engineer Name(owner)</div>
                        <div class="col-sm-2">Amit Tripathi</div>
                        <div class="col-sm-2" style="background-color:lavender;">Eng. Manager</div>
                        <div class="col-sm-2">Shiv Sharma</div>
                        <div class="col-sm-2" style="background-color:lavender;">POD Name</div>
                        <div class="col-sm-2">Azure App Services</div>

                    </div>
                    <div class="row" style="margin-top:5px;">
                        <div class="col-sm-2" style="background-color:lavender;">SrCreateDate </div>
                        <div class="col-sm-2">21-June-2017</div>
                        <div class="col-sm-1" style="background-color:lavender;">SR DTS</div>
                        <div class="col-sm-1">10</div>
                        <div class="col-sm-1" style="background-color:lavender;">QoS</div>
                        <div class="col-sm-1">MB</div>
                        <div class="col-sm-1" style="background-color:lavender;">SR DTC</div>
                        <div class="col-sm-1">12</div>

                        <div class="col-sm-1" style="background-color:lavender;">IR Miss?</div>
                        <div class="col-sm-1">No</div>
                    </div>
                    <div class="row" style="margin-top:5px;">
                        <div class="col-sm-2" style="background-color:lavender;">Support Offering </div>
                        <div class="col-sm-2">Prem</div>
                        <div class="col-sm-2" style="background-color:lavender;">SupportServiceLevel</div>
                        <div class="col-sm-2">App Service Name</div>
                        <div class="col-sm-2" style="background-color:lavender;">Current Owner Group</div>
                        <div class="col-sm-2">Azure App Service</div>


                    </div>
                    <div class="row" style="margin-top:5px;">
                        <div class="col-sm-2" style="background-color:lavender;">Survey Month</div>
                        <div class="col-sm-2">July-17</div>

                        <div class="col-sm-2" style="background-color:lavender;">QualityAnalystName</div>
                        <div class="col-sm-2">Mr Analyst</div>
                        <div class="col-sm-2" style="background-color:lavender;">SR Closed Month </div>
                        <div class="col-sm-2">July-17</div>
                    </div>
                    <div class="row" style="margin-top:5px;">
                        <div class="col-sm-2" style="background-color:lavender;">DeliveryRegion</div>
                        <div class="col-sm-2">India</div>
                        <div class="col-sm-2" style="background-color:lavender;">AreaName</div>
                        <div class="col-sm-2">India</div>

                    </div>
                    <div class="row" style="margin-top:5px;  margin-bottom:5px">
                        <div class="col-sm-2" style="background-color:lavender;">Survey Verbatim</div>
                        <div class="col-sm-10">Would've given excellent but one factor that really is big for me is the timezone. the first one who assisted me is on IST timezone and the next one is okay since it's closer to mine which is IN time i think. but overall, the support engineers did a good job accommodating the request and didn't stop until we arrive at a solution or at least close to closure.</div>
                    </div>
                </div>
            </div>
            <div class="row" style="border-bottom:1px solid #294850; position:relative ; margin:5px 0px 20px 0px; width:100%; min-height:30px; border-top-color:#294850; border-top:10px solid #294850 ; padding:0px; ">
                <div class="col-md-4" style="border:1px solid black; padding:0px; background-color:whitesmoke; border-bottom-right-radius:5px ;min-height:250px">
                    <div class="col-md-12" style="background-color:#173740; color:white; margin-bottom:5px; padding :10px 15px ">
                        <span style="font-size:14px; ">Taxonomy</span>
                    </div>
                    <div class="col-md-6" style="font-size:12px ; margin:0px; ">
                        <div class="col-md-12 form-group">
                            <label for="sel1">CPE Root Cause - L1</label>
                            <select class="form-control" style="height:26px ; font-size: 10px" id="sel1">
                                <option>-----</option>
                                <option>CSS</option>
                                <option>Internal Business Partners</option>
                                <option>Product/Platform</option>
                            </select>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="sel1">CPE Root Cause - L2</label>
                            <select class="form-control" style="height:26px ; font-size: 10px" id="sel1">
                                <option>-----</option>
                                <option>Delivery operations</option>
                                <option>Individual execution</option>
                                <option>Support policy</option>
                                <option>Support process</option>
                                <option>Initiatives</option>
                                <option>Internal dependencies</option>
                                <option>Policies</option>
                                <option>Functionality</option>
                                <option>Delivery operations</option>
                                <option>Processes</option>
                                <option>Stability</option>
                            </select>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="sel1">CPE Root Cause - L3</label>
                            <select class="form-control" style="height:26px ;font-size: 10px" id="sel1">
                                <option>-----</option>
                                <option> headcount</option>
                                <option> tools & systems</option>
                                <option> workforce management</option>
                                <option> case continuity</option>
                                <option> closure handling</option>
                                <option> communication</option>
                                <option> comprehension</option>
                                <option> contact preference</option>
                                <option> internal collaboration/engagement</option>
                                <option> knowledge</option>
                                <option> lack of resolution</option>
                                <option> language barrier</option>
                                <option> missed commitment</option>
                                <option> missed incident response (IR)</option>
                                <option> ongoing engagement</option>
                                <option> redirect - deviate (misroute)</option>
                                <option> setting expectations (scope)</option>
                                <option> technical ownership</option>
                                <option> Advisory Services</option>
                                <option> privacy</option>
                                <option> support boundaries</option>
                                <option> survey</option>
                                <option> unsupported third party</option>
                                <option> ambiguous process</option>
                                <option> case assignment</option>
                                <option> case closure process</option>
                                <option> case wellness</option>
                                <option> engagement gap</option>
                                <option> escalation</option>
                                <option> initial engagement</option>
                                <option> internal engagement</option>
                                <option> readiness & ramp-up</option>
                                <option> support modality</option>
                                <option> unable to review</option>
                                <option> bulk cancellations</option>
                                <option> bulk offer conversions</option>
                                <option> promotions</option>
                                <option> dependency on ABD</option>
                                <option> dependency on CBO</option>
                                <option> dependency on EA team</option>
                                <option> dependency on PreSales</option>
                                <option> dependency on WOCS</option>
                                <option> Accounts Research Team</option>
                                <option> billing policy</option>
                                <option> offer policy</option>
                                <option> pricing policy</option>
                                <option> by design</option>
                                <option> guest OS</option>
                                <option> networks</option>
                                <option> not generally available</option>
                                <option> performance</option>
                                <option> platform operations</option>
                                <option> security</option>
                                <option> system capacity</option>
                                <option> tools telemetry</option>
                                <option> CRI closure process</option>
                                <option> internal team dependencies</option>
                                <option> pay for support (bug/SIE)</option>
                                <option> PG communication</option>
                                <option> PG escalation</option>
                                <option> product documentation</option>
                                <option> support access</option>
                                <option> bugs</option>
                                <option> connectivity</option>
                                <option> maintenance</option>
                                <option> outage</option>
                                <option> service interupting event</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6" style="font-size:12px ; padding:0px ;margin:0px; float:left">

                        <div class="col-md-12 form-group" style="float:left; padding:0px; margin-left:-15px ">

                            <label for="comment">CPE Root Cause-L4</label>
                            <textarea class="form-control" rows="7" id="comment"></textarea>
                        </div>

                    </div>
                </div>
                <div class="col-md-4" style="border:1px solid black; padding:0px; background-color:whitesmoke; border-bottom-left-radius:5px;border-bottom-right-radius:5px ;min-height:250px">
                    <div class="col-md-12" style="background-color:#173740; color:white; padding :10px 15px ; margin-bottom:5px; ">
                        <span style="font-size:14px; ">ANALYSIS</span>
                    </div>
                    <div class="col-md-12" style="font-size:12px ; margin:0px;">
                        <div class="form-group" style="padding:0px">
                            <label for="usr">QA Assesment</label>
                            <textarea class="form-control" rows="2" style="width:100%; margin-bottom:20px" id="comment"></textarea>
                        </div>
                        @*<div class="form-group">
                                <label for="usr">Defect</label>
                                <textarea class="form-control" rows="2" id="comment"></textarea>
                            </div>*@
                        <div class="form-group">
                            <label for="usr">Pod Manager Comment</label>
                            <textarea class="form-control" rows="2" id="comment"></textarea>
                        </div>

                    </div>
                </div>
                <div class="col-md-4" style="border:1px solid black; padding:0px; background-color:whitesmoke; border-bottom-left-radius:5px; min-height:250px">
                    <div class="col-md-12" style="background-color:#173740; color:white; padding :10px 15px ; margin-bottom:5px">
                        <span style="font-size:14px; ">ACTION</span>
                    </div>
                    <div class="col-md-12" style="font-size:12px">

                        <div class="form-group">
                            <label for="usr">Pod Lead Action:</label>
                            <textarea class="form-control" rows="4" id="comment"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="usr">Action Status:</label>
                            <select class="form-control" style="height:26px ; font-size: 10px" id="sel1">
                                <option>Not Started</option>
                                <option>In Progressoption>
                                <option>Completed</option>
                            </select>

                        </div>
                    </div>
                </div>

            </div>
            <div class="row" style="position:relative;  margin:0; margin-bottom:10px">
                <div class="col-md-3" style="float:right">
                    <a href="~/home/contact"  <button type="button" class="btn btn-default" style="float:right; margin-left:20px">Submit</button></a>
                    <button type="button" class="btn btn-default" style="float:right">Save</button>
                </div>
            </div>

        </div>
    </div>
</div>




